.custom-modal {
  width: 70%;
  z-index: 99998;
  border: 1px solid #00000080;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  /* max-width: 1024px; */
}
.overlay {
  background: #00000080;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99997;
}

.cost-overlay {
  background: transparent;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.custom-modal.big-modal {
  width: 90%;
}

.custom-modal.med-modal {
  width: 80%;
}

.custom-modal.small-modal {
  width: 30%;
}

.custom-modal.login-modal {
  width: 40%;
}

.custom-modal.long-scroll-modal {
  position: relative;
  transform: translate(-50%, -90%);
}

.custom-modal button.close-btn {
  background: transparent;
  color: #000;
  border: 0;
  font-size: 24px;
  width: auto;
  padding: 0;
  cursor: pointer;
  outline: 0;
  cursor: pointer;
  outline: none;
  position:absolute;
  top: 10px;
  right: 15px;
  z-index: 99999;
}

.custom-modal.small-modal button.close-btn {
  top: 0px;
  right: 15px;
}

.hideSelectAll.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox .MuiDataGrid-columnHeaderTitleContainer {
  display: none;
}

p.MuiTablePagination-selectLabel {
  visibility: hidden;
}

.MuiTablePagination-select.MuiSelect-select.MuiSelect-standard.MuiInputBase-input, .MuiSelect-nativeInput,.MuiSelect-icon {
  visibility: hidden;
}

.popover.cost-pop {
  max-width: 625px;
  border: none;
  border-radius: 0.5rem;
  top: -400px;
  left: 520px;
}

.google-login {
  display: none !important;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.table-container {
  height: 50vh;
  width: 100%;
  overflow: auto;
}

.table-actions span:hover {
  cursor: pointer;
}

.point_cursor {
  cursor: pointer;	
 }

@media (max-width: 575px) {
  .custom-modal,
  /* .custom-modal.small-modal, */
  .custom-modal.big-modal,
  .custom-modal.med-modal,
  .custom-modal.login-modal,
  .custom-modal.long-scroll-modal {
    position: relative;
    top: -90vh;
    left:50vw; 
    /* transform: translate(-50%, -100%); */
    width: 95%;
  }
  .custom-modal.small-modal{
    position: relative;
    top: 45vh;
    left:50vw; 
    /* transform: translate(-50%, -100%); */
    width: 95%;
  }

  .popover.cost-pop {
    max-width: 290px;
    border: none;
    border-radius: 0.5rem;
    top:90%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}
